# Do not put real values in Git.

SERVICENOW_INSTANCE_URL="https://dev395061.service-now.com"
SERVICENOW_USERNAME=""
SERVICENOW_PASSWORD=""
SERVICENOW_AUTH_TYPE="basic"

OBSIDIAN_API_KEY=""
OBSIDIAN_PROTOCOL="http"
OBSIDIAN_HOST="127.0.0.1"
OBSIDIAN_PORT="27123"
VERIFY_SSL="false"
REQUEST_TIMEOUT="15000"

OPENAI_API_KEY=""
